body{ font-family: Arial, Helvetica, sans-serif;

}
div > p { /* isso siginifica que o p é filho direto do div */
    display: none;
}
div:hover > p { /* quando o mouse estiver sobre o div, o p será exibido */
    display: block;
    color: white;
    background-color: red;
    width: 300px;
}
div:hover{ /* quando o mouse estiver sobre o div, a cor de fundo será vermelha */
    color: red;
} 